- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
.login-box
  .login-box-body
    %p.login-box-msg
      %a{ href: "/",  } 
        %img.login-register-logo{:alt => "Time Off Tokens", :src => "https://res.cloudinary.com/da6v0vrqx/image/upload/logo_landing.png"}/
    = bootstrap_form_tag url: '/sign_in' do |f|
      .form-group.has-feedback
        = f.email_field :email, icon: "glyphicon glyphicon-envelope form-control-feedback"
      .form-group.has-feedback
        = f.password_field :password, icon: "glyphicon glyphicon-lock form-control-feedback"
      .row
        / /.col
        .col-xs-12.pull-right
          = f.submit "Sign In", class: "btn btn-primary btn-block btn-flat"
    .social-auth-links.text-center
      %p - OR -
      %a.btn.btn-block.btn-social.btn-facebook.btn-flat{:href => "auth/facebook"}
        %i.fa.fa-facebook
        .text-center
          Sign in using Facebook
    = link_to "I forgot my password", forgot_password_path
  / /.login-box-body
/ /.login-box