- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
.login-box
  .login-logo
    %a{ href: "/" }
      %b
        %span Babysitting Tokens
        %i.icon-coins
  / /.login-logo
  .login-box-body
    %p.login-box-msg Sign in to Babysitting Tokens
    = bootstrap_form_tag url: '/sign_in' do |f|
      .form-group.has-feedback
        = f.email_field :email, icon: "glyphicon glyphicon-envelope form-control-feedback"
      .form-group.has-feedback
        = f.password_field :password, icon: "glyphicon glyphicon-lock form-control-feedback"
      .row
        / /.col
        .col-xs-8
        .col-xs-4
          = f.submit "Sign In", class: "btn btn-primary btn-block btn-flat"
    .social-auth-links.text-center
      %p - OR -
      %a.btn.btn-block.btn-social.btn-facebook.btn-flat{:href => "auth/facebook"}
        %i.fa.fa-facebook
        Sign in using Facebook
    = link_to "I forgot my password", forgot_password_path
  / /.login-box-body
/ /.login-box