= render 'shared/profile'
    
.home-body       
  %section.register.container
    .row
      .col-sm-6.col-sm-offset-1
        = bootstrap_form_for @group do |f|
          %header
            %h1 Create Babysitting Group
          %br
          = f.text_field :group_name
          = f.text_field :location
          = f.submit "Create", class: "btn btn-success"