%br  
%br
.row
  .col-md-4.col-md-offset-1
    .media
      %a{class: "pull-left", href: ""}
        = image_tag(avatar_url(@user.email, 100), class: "media-object dp img-circle", width: "100", height: "100")
      .media-body
        %h4{ class: "media-name" } #{ @user.full_name }

  .col-md-5
    / TABLE: Babysitting Groups
    .box.box-primary
      .box-header.with-border
        %h3.box-title Circle Information
        .box-tools.pull-right
          %button.btn.btn-primary.btn-sm.pull-right{"data-toggle" => "tooltip", "data-widget" => "collapse", :style => "margin-right: 5px;", :title => "Collapse"}
            %i.fa.fa-minus
      / /.box-header
      .box-body
        .table-responsive
          %table.table.no-margin
            %thead
              %tr
                %th Circle Name
                %th Circle Location
            %tbody
              - @user.groups.each do |group|
                %tr
                  %td #{ group.group_name }
                  %td #{ group.location }
                  - if current_user != @user
                    %td= request_to_join_group_button(@user, group)
        / /.table-responsive
      / /.box-body   
    - if current_user == @user
      =link_to "Edit Your Details", edit_user_path(@user), class: "btn bg-olive btn-flat btn-lg"