- if !current_user.groups.present?
  .row     
    .col-md-12.col-sm-12.col-xs-12
      .info-box.bg-red
        %span.info-box-icon
          %i.fa.fa-exclamation
        .info-box-content
          %span.info-box-number Create a babysitting circle or search for friends and join their circles from the sidebar
        / /.info-box-content
      / /.info-box
    / /.col
    
- if @next_babysitting_info.present?
  .row     
    .col-md-12.col-sm-12.col-xs-12
      .info-box.bg-red
        %span.info-box-icon
          %i.fa.fa-calendar
        .info-box-content
          %span.info-box-text You next have to babysit on:
          %span.info-box-number= display_next_baby_sitting_date_info(@next_babysitting_info)
          .progress
          %span.progress-description
            =link_to 'See All Dates', my_babysitting_dates_path, class: "btn bg-olive btn-flat btn-xs pull-right"
        / /.info-box-content
      / /.info-box
    / /.col   

.box.box-primary
  .box-header
    / tools box
    .pull-right.box-tools
      %button.btn.btn-primary.btn-sm.pull-right{"data-toggle" => "tooltip", "data-widget" => "collapse", :style => "margin-right: 5px;", :title => "Collapse"}
        %i.fa.fa-minus
    / /. tools
    %i.fa.fa-comment-o
    %h3.box-title
      Friend Requests
  .box-body
    / Small boxes (Friend request box)
    .row
      .col-md-12
        .label.label-warning.friend-request-label
          Awaiting Response
        .label.label-danger.friend-request-label
          Declined
    %br
    .row
      - @friend_request_groups.each do |request_group|
        .col-lg-3.col-xs-6
          / small box
          - if request_group.has_request_been_declined(current_user)
            .small-box.bg-red
              = render 'friend_request_info', request_group: request_group
          - else
            .small-box.bg-yellow
              = render 'friend_request_info', request_group: request_group
      
.row                 
  .col-md-12
    / TABLE: Friends Babysitting
    .box.box-primary
      .box-header.with-border
        %h3.box-title Your Requests
        .box-tools.pull-right
          %button.btn.btn-primary.btn-sm.pull-right{"data-toggle" => "tooltip", "data-widget" => "collapse", :style => "margin-right: 5px;", :title => "Collapse"}
            %i.fa.fa-minus
      / /.box-header
      .box-body
        / Small boxes (Friend request box)
        .row
          - @user_requests.each do |user_request|
            .col-lg-3.col-xs-6
              / small box
              .small-box.bg-aqua
                .inner
                  %h4.text-center= display_friendly_date_and_time(user_request.start)
                  %p.text-center until
                  %h4.text-center= display_friendly_date_and_time(user_request.finish)
                =link_to show_my_request_path(user_request), class: "small-box-footer" do
                  Click For Details 
                  %i.fa.fa-arrow-circle-right