= render 'shared/profile'
        
.home-body       
  .row
    .col-lg-3
      %a{ href: my_request_path, class: "freedom-button btn btn-success btn-md btn-block" }Request For Freedom
     
  .row
    .col-lg-3
      .user_nights
        .panel.panel-primary
          .panel-heading
            %h3{ class: 'panel-title' } Your Nights Of Freedom
          .panel-body
            %table{ class: "table table-striped table-hover" }
              %thead
                %tr
                  %th Date
                  %th Status
              %tbody
                - @user_requests.each do |user_request|
                  %tr{ class: row_color(user_request.status) }
                    %td= display_friendly_date(user_request.start)
                    %td= user_request.status
                
    .col-lg-5
      .other_nights
        .panel.panel-primary
          .panel-heading
            %h3{ class: 'panel-title' } Requests For Freedom
          .panel-body
            %table{ class: "table table-striped table-hover" }
              %thead
                %tr
                  %th Name
                  %th Date
              %tbody
                - @friend_requests.each do |friend_request|
                  %tr
                    %td= friend_request.full_name
                    %td= display_friendly_date(friend_request.start)
                    %td
                      %a{ href: request_path(friend_request), class: "btn btn-success btn-xs" }Open
                      
    .col-lg-4
      .user_circles
        .panel.panel-primary
          .panel-heading
            %h3{ class: 'panel-title' } Babysitting Groups
          .panel-body
            %table{ class: "table table-striped table-hover" }
              %thead
                %tr
                  %th Name
                  %th Your Tokens
              %tbody
                - @user_groups.each do |user_group|
                  %tr
                    %td= user_group.group.group_name
                    %td= user_group.tokens
                    %td
                      %a{ href: "#", class: "btn btn-success btn-xs" }Details
            %a{ href: new_group_path, class: "btn btn-success btn-xs" }Create New Group

.home-body                      
  - if @next_babysitting_info.present?
    .col-lg-12
      .alert.alert-dismissible.alert-danger
        You next have to babysit on:
        = display_next_baby_sitting_date_info(@next_babysitting_info)