- if @next_babysitting_info.present?
  .row     
    .col-md-12.col-sm-12.col-xs-12
      .info-box.bg-red
        %span.info-box-icon
          %i.fa.fa-calendar
        .info-box-content
          %span.info-box-text You next have to babysit on:
          %span.info-box-number= display_next_baby_sitting_date_info(@next_babysitting_info)
          .progress
          %span.progress-description
            =link_to 'See All Dates', my_babysitting_dates_path, class: "btn bg-olive btn-flat btn-xs pull-right"
        / /.info-box-content
      / /.info-box
    / /.col   

.box.box-primary
  .box-header
    / tools box
    .pull-right.box-tools
      %button.btn.btn-primary.btn-sm.pull-right{"data-toggle" => "tooltip", "data-widget" => "collapse", :style => "margin-right: 5px;", :title => "Collapse"}
        %i.fa.fa-minus
    / /. tools
    %i.fa.fa-question-circle
    %h3.box-title
      Babysitting Requests
  .box-body
    / Small boxes (Friend request box)
    .row
      - @friend_request_groups.each do |request_group|
        .col-lg-3.col-xs-6
          / small box
          .small-box.bg-aqua
            .inner
              %h4= request_group.request.full_name
              %p= request_group.group.group_name
              %p= display_friendly_date(request_group.request.start)
            .icon
              %i.fa.fa-user
            =link_to request_group_path(request_group), class: "small-box-footer" do
              See Details 
              %i.fa.fa-arrow-circle-right
                
.row                 
  .col-md-7
    / TABLE: Friends Babysitting
    .box.box-primary
      .box-header.with-border
        %h3.box-title Friends Babysitting For You
        .box-tools.pull-right
          %button.btn.btn-primary.btn-sm.pull-right{"data-toggle" => "tooltip", "data-widget" => "collapse", :style => "margin-right: 5px;", :title => "Collapse"}
            %i.fa.fa-minus
      / /.box-header
      .box-body
        .table-responsive
          %table.table.no-margin
            %thead
              %tr
                %th Date
                %th Babysitter
                %th Status
                %th 
                %th
            %tbody
              - @user_requests.each do |user_request|
                %tr
                  %td= display_friendly_date(user_request.start)
                  %td= user_request.babysitter_name
                  - if user_request.status == 'waiting'
                    %td
                      %span.label.label-warning Waiting
                    %td
                      =link_to edit_my_request_path(user_request), id: 'edit_icon' do
                        %i.fa.fa-pencil
                  - else
                    %td
                      %span.label.label-success Accepted
                    %td
                  %td
                    =link_to request_path(user_request), method: 'delete', id: 'delete_icon', :data => {:confirm => 'Are you sure?'} do
                      %i.fa.fa-times
        / /.table-responsive
      / /.box-body
  / /.col

  
  .col-md-5
    / TABLE: Babysitting Groups
    .box.box-primary
      .box-header.with-border
        %h3.box-title Babysitting Groups
        .box-tools.pull-right
          %button.btn.btn-primary.btn-sm.pull-right{"data-toggle" => "tooltip", "data-widget" => "collapse", :style => "margin-right: 5px;", :title => "Collapse"}
            %i.fa.fa-minus
      / /.box-header
      .box-body
        .table-responsive
          %table.table.no-margin
            %thead
              %tr
                %th Name
                %th Your Tokens
            %tbody
              - @user_groups.each do |user_group|
                %tr
                  %td= user_group.group.group_name
                  %td= user_group.tokens
                  %td
                    =link_to 'Details', group_path(user_group.group), class: "btn bg-olive btn-flat btn-xs"
        / /.table-responsive
      / /.box-body                    
      .box-footer.clearfix
        =link_to 'Create New Group', new_group_path, class: "btn btn-sm btn-primary btn-flat pull-left"
      / /.box-footer
    / /.box