= render 'shared/tokens'
        
= render 'shared/profile'
    
.home-body       
  %section.register.container
    .row
      .col-lg-7.col-lg-offset-1
        %header
          %h1 Babysitting Dates
        %br
    .row
      .col-lg-7.col-lg-offset-1
        .request-detail
          .panel.panel-primary
            .panel-heading
              %h3{ class: 'panel-title' } Babysitting Information
            .panel-body
              %table{ class: "table table-striped table-hover" }
                %thead
                  %tr
                    %th Who For
                    %th Circle
                    %th Date
                    %th Start
                    %th Finish
                %tbody
                  - @current_user_babysitting_for_requests.each do |request|
                    %tr
                      %td= request.full_name
                      %td= request.group_for_babysitting_date
                      %td= display_friendly_date(request.start)
                      %td= display_time(request.start)
                      %td= display_time(request.finish)
                      %td
                        =link_to 'Cancel', cancel_babysitting_date_path(request), method: :put, class: "btn btn-success btn-xs"