= render 'shared/tokens'
        
%br
%br  
%br
.row
  .col-md-8.col-md-offset-1
    %header
      %h1 Dates You Are Babysitting For Friends
    %br
.row              
  .col-md-8.col-md-offset-1
    / TABLE: Babysitting Groups
    .box.box-primary
      .box-header.with-border
        %h3.box-title Babysitting Information
      / /.box-header
      .box-body
        .table-responsive
          %table.table.no-margin
            %thead
              %tr
                %th Who For
                %th Circle
                %th Date
                %th Start
                %th Finish
            %tbody
              - @current_user_babysitting_for_requests.each do |request|
                %tr
                  %td= request.full_name
                  %td= request.group_for_babysitting_date
                  %td= display_friendly_date(request.start)
                  %td= display_time(request.start)
                  %td= display_time(request.finish)
                  %td
                    =link_to 'Cancel', cancel_babysitting_date_path(request), method: :put, class: "btn bg-red btn-flat btn-xs"
        / /.table-responsive
      / /.box-body