!!! 5
%html(lang="en-US")
  %head
    %title #{ENV['site_name']}
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    .dinner_without_kids
      .col-lg-12
        .logo
          %a{ class: "navbar-brand", href: "/",  } 
            %img.landing-logo{:alt => "Time Off Tokens", :src => "https://res.cloudinary.com/da6v0vrqx/image/upload/logo_landing.png"}/
        .pull-right.navbar-login
          =link_to 'Login', sign_in_path, class: "btn bg-blue btn-flat btn-md"
        .row
          .jumbotron-landing
            %br
              %h1 Fancy a meal without the kids? 
              %h1 Arrange for friends to babysit while you have some fun!
            %br
              %br
              .row  
                %p 
                  =link_to 'Create your FREE account', register_path, class: "btn bg-olive btn-flat btn-lg"
      .row.landing-bottom
        .col-lg-12
          .text-center
            %a.landing-scroll{:href => "#friends"} 
              %i.fa.fa-arrow-circle-o-down.animated.bounceInDown
    
    .only-friends#friends  
      .row
        .col-lg-12
          .landing-columns.col-sm-3
            .signup-icons
              %i.fa.fa-lock
          %br
          .col-md-9
            %h1 Private babysitting circles
            %br
            %h4 
              %u Your circles 
              are for 
              %u your friends. 
              No one else. Only people you invite or accept can be part of your circle so you know exactly who is looking after your kids.
        %br
        %br
    
    .all-free
      .row
        .col-lg-12
          .col-md-9
            %h1 More money in the piggy bank
            %br
            %br
            %h4 Why pay for a babysitter? Money is always tight when you have children.  Friends babysitting for each other is not only free but your kids also know who is looking after them which gives you peace of mind.
          %br
          .landing-columns.col-sm-3
            .signup-icons
              %i.glyphicon.glyphicon-piggy-bank
        %br
          
    .list-of-benefits#benefits
      .row
        .signup-steps
          .col-lg-12
            .row
              .landing-columns.col-sm-4
                .signup-icons
                  %i.fa.fa-sign-in
                .row
                  %h2 Create a FREE account
                  %h5 It only takes a few seconds to create your free account.
              .landing-columns.col-sm-4
                .signup-icons
                  %i.fa.fa.fa-users
                .row
                  %h2 Find your friend circles
                  %h5 Simply search for friends and request to join their circle. Or, create your own circle and invite friends. Don't worry, circles are private to you and your friends.
              .landing-columns.col-sm-4
                .signup-icons
                  %i.fa.fa-comments
                .row
                  %h2 Arrange time off
                  %h5 Make requests to friends for babysitting and enjoy some well deserved time off.
              %br
              %br
    .easy-life
      .row
        .col-lg-12
          %h2 Time Off Tokens keeps track of all the babystitting dates for you and your friends. Using tokens ensures that everyone does their fair share. Less admin, more time off for you!
          %br
          .row
            =link_to 'Create your FREE account', register_path, class: "btn bg-olive btn-flat btn-lg landing-btn-margin"
            =link_to 'Find out more', instructions_path, class: "btn btn-default btn-flat btn-lg landing-btn-margin"  
    
    %footer.landing-footer
      .pull-right.hidden-xs
        &copy 2015 #{ENV['site_name']}
      =link_to "Home", home_path
      \/
      =link_to "Instructions", instructions_path
      \/
      =link_to "About", about_path
      \/
      =link_to "Privacy", privacy_path
    = render 'shared/cookie_choices'
    = render 'shared/google_analytics'
    :javascript
      riveted.init();