!!! 5
%html(lang="en-US")
  %head
    %title #{ENV['site_name']}
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    .night_out
      .col-lg-12
        .logo
          %a{ class: "navbar-brand", href: "/",  } 
            %img.landing-logo{:alt => "Time Off Tokens", :src => "https://res.cloudinary.com/da6v0vrqx/image/upload/logo_landing.png"}/
        .pull-right.navbar-login
          =link_to 'Login', sign_in_path, class: "btn bg-blue btn-flat btn-md"
        .row
          .jumbotron-landing
            %br
            %br
            %br
              %h1 
                Let your 
                %u friends 
                watch the kids, while you have 
                %u fun
            %br
              %br
              .row  
                %p 
                  =link_to 'Create your FREE account', register_path, class: "btn bg-olive btn-flat btn-lg"
      .row.landing-bottom
        .col-lg-12
          .text-center
            %a.landing-scroll{:href => "#easy"} 
              %i.fa.fa-arrow-circle-o-down.animated.bounceInDown
    
    .easy-life#easy
      .row
        .col-lg-12
          %h1 Time Off Tokens is a free and private space for you to share babysitting duties with friends.
          %h1 You babysit for friends and they repay the favour. Time Off Tokens keeps track of everything for you.
          %h1 Simple!
                      
    .list-of-benefits
      .row
        .signup-steps
          .col-lg-12
            %h1 Finding a friend to babysit is as easy as 1, 2, 3
            %br
            %br
            .row
              .landing-columns.col-sm-4
                .row
                  %h2 (1) Create a FREE account
                .signup-icons
                  %i.fa.fa-sign-in
              .landing-columns.col-sm-4
                .row
                  %h2 (2) Find your friend circles
                .signup-icons
                  %i.fa.fa.fa-users
              .landing-columns.col-sm-4
                .row
                  %h2 (3) Arrange time off
                .signup-icons
                  %i.fa.fa-comments
              %br
            .row
              %br
              =link_to 'Create your FREE account', register_path, class: "btn bg-olive btn-flat btn-lg landing-btn-margin"
              =link_to 'More Info', instructions_path, class: "btn bg-olive btn-flat btn-lg landing-btn-margin"
    
    %footer.landing-footer
      .pull-right.hidden-xs
        &copy 2015 #{ENV['site_name']}
      =link_to "Home", home_path
      \/
      =link_to "Instructions", instructions_path
      \/
      =link_to "About", about_path
      \/
      =link_to "Privacy", privacy_path
    = render 'shared/cookie_choices'
    = render 'shared/google_analytics'
    :javascript
      riveted.init();