!!! 5
%html(lang="en-US")
  %head
    %title #{ENV['site_name']}
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tag
    = stylesheet_link_tag "application"
  %body.landing-font
    .time_off
      .col-lg-12
        .logo
          %a{ class: "navbar-brand", href: "/",  } 
            %img.landing-logo{:alt => "Time Off Tokens", :src => "https://res.cloudinary.com/da6v0vrqx/image/upload/logo_landing.png"}/
        .pull-right.navbar-login
          =link_to 'Login', sign_in_path, class: "btn bg-blue btn-flat btn-md"
        .row
          .jumbotron-landing
            %br
              %h1 Are you a parent? Need time off?
              %h2 Create a babysitting circle just for your friends
            %br
              %br
              .row  
                %p
                  .animated.bounce
                    %a.btn.bg-olive.btn-flat.landing-btn-lg.read-more-scroll{:href => "#friends"} 
                      Click to read more

    .only-friends#friends  
      .row
        .col-lg-12
          .landing-columns.col-sm-3
            .signup-icons
              %i.fa.fa-lock
          .col-sm-9
            %h1 Private babysitting circles
            %br
            %h4 
              %u Your circles 
              are for 
              %u your friends. 
              No one else. Only people you invite or accept can be part of your circle so you know exactly who is looking after your kids.
        %br
    
    .all-free
      .row
        .col-lg-12
          .col-sm-9
            %h1 More money in the bank
            %br
            %h4 
              Why pay for a babysitter? Friends babysitting for each other is not only 
              %u free 
              but your kids also know who is looking after them which gives you 
              %u peace of mind.
          %br
          .landing-columns.col-sm-3
            .signup-icons
              %i.glyphicon.glyphicon-piggy-bank
        %br
          
    .list-of-benefits
      .row
        .signup-steps
          .col-lg-12
            %h2 Finding a friend to babysit is as easy as 1, 2, 3
            %br
            .row
              .landing-columns.col-sm-4
                .row
                  %h2
                    .number-circle
                      1
                  %br
                  %h2
                    Create a FREE account
                .signup-icons
                  %i.fa.fa-sign-in
              .landing-columns.col-sm-4
                .row
                  %h2 
                    .number-circle
                      2
                  %br
                  %h2
                    Find your friend circles
                .signup-icons
                  %i.fa.fa.fa-users
              .landing-columns.col-sm-4
                .row
                  %h2 
                    .number-circle
                      3
                  %br
                  %h2
                    Arrange time off
                .signup-icons
                  %i.fa.fa-comments
              %br
              
    .easy-life
      .row
        .col-lg-12
          %h2 Time Off Tokens keeps track of all the babystitting dates for you and your friends. Using tokens ensures that everyone does their fair share. Less admin, more time off for you!
          %br
          .row
            =link_to 'Create your FREE account', register_path, class: "btn bg-olive btn-flat btn-lg landing-btn-margin"
            =link_to 'Find out more', instructions_path, class: "btn btn-default btn-flat btn-lg landing-btn-margin"  
    
    %footer.landing-footer
      .pull-right.hidden-xs
        &copy 2015 #{ENV['site_name']}
      =link_to "Home", home_path
      \/
      =link_to "Instructions", instructions_path
      \/
      =link_to "About", about_path
      \/
      =link_to "Privacy", privacy_path
    = javascript_include_tag "application"    
    = render 'shared/cookie_choices'
    = render 'shared/google_analytics'