= render 'shared/tokens'

%br
%br
.row                 
  .col-lg-12
    / TABLE: Friends Babysitting
    .box-header.with-border
      %h3.box-title
        .user-panel
          .pull-left.image
            %img.img-circle{:alt => "User Image", :src => avatar_url(@request_group.request.user.email, 40)}/
            %span #{@request_group.request.user.full_name}
    / /.box-header
    .box-body
      .col-lg-7
        / TABLE: Babysitting Groups
        .box.box-primary
          .box-header.with-border
            %h3.box-title #{@request_group.request.user.full_name} Needs A Babysitter
          / /.box-header
          .box-body
            .table-responsive
              %table.table.no-margin
                %thead
                  %tr
                    %th Date
                    %th Start
                    %th End
                    %th Circle
                    %th Earn Tokens
                %tbody
                  %tr
                    %td #{ display_friendly_date(@request_group.request.start) }
                    %td #{ display_time(@request_group.request.start) }
                    %td #{ display_time(@request_group.request.finish) }
                    %td #{ @request_group.group.group_name }
                    %td #{ @request_group.tokens_for_babysitter }
          
              %br
              .col-lg-2             
                = button_to "Accept", {controller: :request_groups, action: :update}, {:method => :put, class: "btn bg-olive btn-flat btn-lg" }
              %br