%br
%br  
.row
  .col-md-8.col-md-offset-1
    = bootstrap_form_for @group_invitation, url: invite_friend_group_path do |f|
      %header
        %h1 
          %i.fa.fa-envelope-o
          Invite a friend to join #{@group.group_name}
      %br
      = f.text_field :friend_name
      = f.text_field :friend_email
      = f.text_area :message, rows: 6
      = f.submit "Send Invitation", class: "btn bg-olive btn-flat btn-lg"