!!! 5
%html(lang="en-US")
  %head
    %title Babysitting Tokens
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body{:class => "skin-blue #{ yield :body_class }"}
    .wrapper
      %header.main-header
        = render 'shared/header'
      %aside.main-sidebar
        = render 'shared/sidebar'
      %section.content-wrapper{:class => "#{ yield :content_wrapper_class }"}
        %section.content
          = render 'shared/messages'
          = yield
      %footer.main-footer
        .pull-right.hidden-xs
          &copy 2015 Babysitting Tokens
        Links
        